* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

header {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightslategrey;
}

.image {
  aspect-ratio: 7/8;
  height: 85%;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  z-index: 1;

  img {
    min-height: 100%;
    width: 100%;
    object-fit: cover;
  }

  h1 {
    position: absolute;
    bottom: 0;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 2.5rem;
  }
}

.about-me {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  background-color: white;

  h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
  }

  p {
    font-family: 'Roboto', serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    color: grey;
    height: 65%;
  }

  div {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    svg {
        width: 21px;
    }
  }
}

main {
  background: green;
}

footer {
  background: blue;
}
